.Header {
  background-color: skyblue;
  padding: 5px;
}

.Header button{
  float: right;
}


.container {
    background: url('Store.jpg');
    margin: auto;
    min-height: 750px;
    padding: 0%;
    font-family: sans-serif;
    border: 1px solid black;
  }

.RegistrationForm {
  background-color: skyblue;
  width: 30%;
  margin: 8px 0;
  padding: 5px;
  border-radius: 4px;
  box-sizing: border-box;
  float: right;

}


.Login {
  background-color: skyblue;
  width: 30%;
  margin: 8px 0;
  padding: 5px;
  border-radius: 4px;
  box-sizing: border-box;
  float: right;
}

.error{
  color: red;
}

.Shoppinglist {
  background-color:grey;
  min-height: 700px;
}

.ShoppinglistForm {
  background-color: white;
  margin: 0px 0px 0px 0px;
  padding: 25px;
  float: right;
  min-height: 700px;
 
}

.ShoppinglistForm a {
  float: right;
}


.ShoppingitemForm {
  padding: 25px;
  background-color: white;
  float: right;
  min-height: 700px;
  height: 100%;
}

