.Header {
  background-color: skyblue;
  padding: 5px;
}

.Header a{
  float: right;
}


.container {
  background: url('img_5928.png');
  margin: auto;
  min-height: 750px;
  padding: 0%;
  font-family: sans-serif;
  }

.RegistrationForm {
  background-color: skyblue;
  width: 30%;
  margin: 8px 0;
  padding: 5px;
  border-radius: 4px;
  box-sizing: border-box;
  float: right;

}

.RegistrationForm a{
  float: right;
}

.Login {
  background-color: skyblue;
  width: 30%;
  margin: 8px 0;
  padding: 5px;
  border-radius: 4px;
  box-sizing: border-box;
  float: right;
}

.Login a{
  float: right;
}


.error{
  color: red;
}

.Shoppinglist {
  background-color:#F5F5F5;
  min-height: 700px;
  padding-top: 5px;
  border-right: 1px solid black;
}

.ShoppinglistForm {
  background-color:#F5F5F5;
  padding: 25px;
  min-height: 700px;
 
} 

.ShoppinglistForm a {
  float: right;
}


.ViewShoppinglist {
  background-color:#F5F5F5;
  padding: 25px;
  min-height: 700px;
}

.ViewShoppinglist button{
  float: right;
}

.ShoppingitemForm, .ViewItems{
  padding: 25px;
  background-color:#F5F5F5;
  float: right;
  min-height: 700px;
  height: 100%;
}

.ViewItems {
  background-color:#F5F5F5;
  padding: 25px;
  min-height: 700px;
}

