.Header {
  background-color: skyblue;
  padding: 5px;
}

.Header h1 {
  padding: 0px;
  margin: 0px;
}

body {
    background: url('Store.jpg');
    margin: 0;
    padding: 0%;
    font-family: sans-serif;
  }

.RegistrationForm {
  background-color: white;
  width: 30%;
  margin: 8px 0;
  padding: 5px;
  border-radius: 4px;
  box-sizing: border-box;
  float: right;
}

/* .Header .LoginForm {
  float: right;
} */

